@use "./styles.scss";

.App {
  display: flex;
  width: 100%;
  height: 100%;

  Divider {
    background-color: styles.$bg0_s;
  }

  .vertDiv-container {
    order: 2;
    cursor: ew-resize;
    background-color: styles.$bg0;
    width: 5px;
    position: relative;

    .vertDiv {
      position: absolute;
      top: 0px;
      right: 0px;
      left: auto;
      z-index: 100;
      display: block;
      width: 2px;
      height: 100%;
      background-color: styles.$bg0_s;
    }
  }
}
