@use "./styles.scss";

.assets {
  @include styles.fill();
  background-color: styles.$bg0_h;
}
.grid-parent {
  display: flexbox;
  flex-flow: column wrap;
}

.directory {
  padding: 20px;
  vertical-align: top;
  display: inline-block;
  text-align: center;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }

  .icon {
    font-size: 60px;
    color: styles.$fg0;
  }

  .caption {
    display: block;
    @extend .text-fg-ns--md;
  }
}
