@use "./styles.scss";

.bottombar-container {
  height: 20%;
  overflow: hidden;
  order: 3;
  background-color: styles.$bg0_h;
  display: flex;
  flex-flow: column;
}

.tab {
  @extend .noselect;
  flex: 0 0 auto;
  text-align: center;
  text-transform: uppercase;
  font-family: "RobotoMono";
  border: none;
  color: styles.$fg4;
  background-color: styles.$bg0_h;
  padding: 6px;
  margin-left: 10px;
  cursor: pointer;

  &:hover {
    color: styles.$fg0;
  }

  &--chosen {
    @extend .tab;
    color: styles.$fg0;
    border-bottom: 2px solid styles.$yellow2;
  }
}
