@use "./styles.scss";

.midpanel {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  order: 3;
  width: 100%;
  margin: 0;

  .divider-container {
    order: 2;
    cursor: ns-resize;
    background-color: styles.$bg0_h;
    height: 5px;
    position: relative;

    .divider {
      position: absolute;
      top: 0px;
      left: 0px;
      bottom: auto;
      z-index: 100;
      display: block;
      height: 2px;
      background-color: styles.$bg0_s;
      width: 100%;
    }
  }
}
