@use "./styles.scss";

.output {
  display: inline-block;
  background-color: styles.$bg;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  position: relative;

  .typed {
    @extend .text-fg--md;

    margin: 0;
    max-width: 100%;
    position: absolute;
    word-wrap: break-word;
    left: 10px;
    right: 10px;
    top: 10px;
  }
}
