@use "./styles.scss";

.sidepanel {
  height: 100vh;
  overflow: hidden;
  background-color: styles.$bg;
}

.sidepanel-top {
  text-align: center;
  background-color: styles.$bg0;
  margin: 0;
  padding: 6px 0px;
  text-transform: uppercase;
  @extend .text-fg-ns--md;
  border-bottom: 2px solid styles.$bg0_s;
}
