@use "./styles.scss";

.sidebar-container {
  margin: 0;
  padding: 0;
  float: left;
  min-width: 56px;
  order: 0;
  background-color: styles.$bg0_h;
  border-right: 2px solid styles.$bg0_s;
}

.sidebar {
  height: 100vh;
}

.sidebar-child {
  padding: 20px 0px 0px 0px;
  margin: 0px;
  @include styles.center-children;
}

.sidebar-item {
  transition: 0.2s;
  box-sizing: border-box;
  color: styles.$fg4;
  cursor: pointer;

  &:hover {
    transform: scale(1.2) rotate(360deg);
    color: styles.$fg0;
  }

  &--choosen {
    @extend .sidebar-item;
    color: styles.$fg0;
  }
}

#lemon-ico {
  display: flex;
  height: inherit;
  width: inherit;
}
