@use "./styles.scss";

.topbar {
  height: 38px;
  width: 100%;
  background-color: styles.$bg0_h;
  border-bottom: 2px solid styles.$bg0_s;
  order: 0;
  align-items: center;

  .icon-container {
    text-align: center;
    padding: 2px;

    .icon {
      font-size: 32px;
      cursor: pointer;
      color: styles.$fg0;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
