# build directory
build/
# linux output console
nohup.out
# bash scripts
*.sh
# vscode dir
.vscode/
# visual studio dir
.vs
# visual studio cmake
CMakeSettings.json
# visual studio out build
out
# qtcreator cmake
CMakeLists.txt.user
# clangd cache
.cache/
