[submodule "Lemon/external/entt"]
	path = Lemon/external/entt
	url = https://github.com/skypjack/entt.git
[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = stable
[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest.git
