@use "../styles.scss";

.components {
  height: 95vh;
  overflow-y: auto;

  .components-container {
    position: relative;
    overflow: hidden;
    margin: 0px 10px;

    .component {
      border: 1px solid styles.$bg1;
      margin: 10px 0;
      display: flex;
      flex-direction: column;

      .component-name {
        background-color: styles.$bg1;
        align-items: center;
        display: flex;

        p {
          @extend .text-fg-ns--md;
          padding: 2px 10px 2px 10px;
          margin: 0px;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        .drop-icon {
          font-size: large;
          margin-left: 5px;
          cursor: pointer;
        }

        .close-icon {
          font-size: large;
          margin-left: auto;
          margin-right: 5px;
          cursor: pointer;

          &:hover {
            color: styles.$red;
          }
        }
      }

      .component-values {
        &--hidden {
          display: none;          
        }

        .field {
          overflow: hidden;

          p {
            @extend .text-fg-ns--sm;
            padding-left: 10px;
            float:left;
          }

          .values {
            margin: 10px 20px;
            overflow: hidden;
            float:right;

            .object {
              display: inline;

              input {
                margin: 2px;
                width: 4rem;
                @extend .text-fg--sm;

                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                  -webkit-appearance: none;
                  margin: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
