@use "../styles.scss";

.sname {
  margin: 0 5px;
  text-align: left;
  @extend .text-fg-ns--sm;
  float: left;
}

.systems {
  height: calc(100vh - 35px);
}

.stage-list {
  width: 100%;
  overflow: auto;
  background-color: styles.$bg0_h;
  border-radius: 5px;
  height: 100%;
}

.stage-group {
  width: auto;
  .icon {
    color: styles.$bg0_s;
  }
  .stage {
    margin: 0;
    padding: 4px 4px;
    border: 1px solid styles.$bg4;
    background-color: styles.$bg0;
    overflow: hidden;
    cursor: pointer;

    .stage-name {
      @extend .sname;
      @extend .text-fg-ns--sm;

      color: styles.$fg0;
    }

    .stage-arrow {
      @extend .icon;
      color: styles.$fg0;
      float: left;
    }
  }
  .system-list {
    padding: 2px;

    &--hidden {
      height: 0;
      overflow: hidden;
    }
  }
}
.sys {
  margin: 0 4px;
  padding: 4px;
  background-color: styles.$bg0;
  border: 1px solid styles.$bg1;
  user-select: all;
  overflow: hidden;
  cursor: grab;

  &:hover {
    background-color: styles.$bg2;
  }
}

.system {
  @extend .sys;

  .system-name {
    @extend .sname;
  }
  .system-icon {
    color: styles.$fg0;
    float: left;
  }
  .system-more {
    color: styles.$fg0;
    cursor: pointer;
    float: right;
  }
  .system-del {
    color: styles.$fg0;
    cursor: pointer;
    float: right;

    &:hover {
      color: styles.$red;
    }
  }
}

.def-lists {
  overflow-y: auto;
  position: relative;
  width: 100%;

  .system-def {
    @extend .sys;

    .systemdef-name {
      @extend .sname;
    }
    .systemdef-icon {
      color: styles.$fg0;
      cursor: grab;
      float: left;
    }
  }
}
